.container {
  min-height: 100vh;
  text-align: center;
  width: 90%;
  margin: 0 auto 40px;
}

h1 {
  font-style: italic;
  font-size: 48px;
  font-weight: 500;
}

.title {
  @extend h1;
  font-size: 46px;
  margin-bottom: 35px;
}

.logo {
  text-align: right;
  margin-bottom: 20px;

  img {
    height: 70px;
    max-width: 100%;
  }
}
